body {
    background-color: rgb(192, 192, 192);
    color: rgb(255, 255, 255);
}

 input:focus {
     background-color: yellow;
 }

p {
    font-family: sans-serif;
    color: black;
}
.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}


title {
    color: white;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
    font-size: 25pt;
}
h3 {
    color: white;
}
table {
    color: black;
    border: 1px solid black;
}


nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 3em;
}

article {
    margin-left: 80px;
    border-left: 1px white;
    padding: 1em;
    overflow: hidden;
}
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Courier new;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: black;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: greenyellow;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:greenyellow;
}

.show {
    display: block;
}
